*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background-image: url('../../assets/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    .container-message{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header-image{
            height: 24%;
        }
        
        .frase{
            height: 16%;
        }
        
        
        .carta{
            margin-top: 20px;
            height: 20%;
        }

        .selo{
            height: 6%;
            position: absolute;
            bottom: 24%;
        }
    }
}


