@import "bootstrap-icons/font/bootstrap-icons.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background-image: url('../../assets/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    .container-message{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header-image{
            height: 24%;
        }
        
        .frase{
            height: 18%;
            margin-left: 3px;
        }
        
        
        .carta{
            margin-top: 20px;
            height: 19%;
        }

        .selo{
            height: 6%;
            position: absolute;
            bottom: 23%;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 1024px){
    .main{
        background-position: center;
        margin: 0 36%;
    }
}